// Uikit framework
@import '~uikit/src/less/uikit.theme.less';

// Variables
@chat-blue-dark-color: #2E3191;
@chat-blue-light-color: #0EC9EC;
@chat-violet-color: #7670B2;
@chat-facebook-color: #3B5998;
@chat-google-color: #EA4335;
@chat-white-color: #FFF;
@chat-lightgray-color: #E9E9F0;
@chat-gray-color: #AFAFB4;

// Styles for custom elements
.uk-card-body.chat-body {
  max-height: 50vh;
  min-height: 50vh;
  height: 50vh;
  overflow-y: scroll;
}

.uk-card-media-top .uk-navbar-container {
  .writing {
    font-size: 0.9em;
  }

  .name {
    & > span.loading {
      /* loading dots */
      &:after {
        content: ' .';
        color: inherit;
        animation: dots 1s steps(5, end) infinite;
      }

      color: @chat-blue-light-color;
      font-size: 0.8em;
    }

    text-transform: none;
    font-size: 1.1em;
    font-weight: 700;
  }

  .uk-navbar-nav > li > a {
    .header-image {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 8px;
    }

    color: inherit;
  }

  color: @chat-white-color;
  background-color: @chat-blue-dark-color;
}

.chat-body {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.chat-send-button {
  &:hover, &.hover, &:focus, &.focus {
    span[uk-icon] {
      color: @chat-white-color;
    }

    border: 1px solid @chat-blue-dark-color;
    background-color: @chat-blue-dark-color;
  }

  span[uk-icon] {
    color: @chat-white-color;
  }

  border: 1px solid @chat-blue-dark-color;
  background-color: @chat-blue-dark-color;
}

.uk-input.chat-input {
  border: 1px solid @chat-lightgray-color;
  color: @chat-gray-color;
  background-color: @chat-lightgray-color;
}

.chat-dialog-box {
  .chat-dialog-message {
    padding: 10px 15px;
    margin: auto;
  }

  &.chat-right {
    .chat-dialog-message {
      text-align: right;
      color: @chat-blue-dark-color;
    }

    // styles for .chat-dialog-box.chat-right
    float: right;
    border-radius: 20px 20px 0 20px;
    border: 1px solid @chat-blue-dark-color;
  }

  &.chat-left {
    .chat-dialog-message {
      text-align: left;
      color: @chat-white-color;
    }

    // styles for .chat-dialog-box.chat-right
    float: left;
    border-radius: 20px 20px 20px 0;
    border: 1px solid @chat-violet-color;
    background-color: @chat-violet-color;
  }

  // styles for .chat-dialog-box
  min-width: 0%;
  max-width: 70%;
}

.chat-dialog-wrapper {
  .img-chat {
    &.left {
      float: left;
      margin-right: 5px;
      margin-top: 3px;
    }

    height: 42px;
    width: 42px;
  }

  &:last-child {
    margin-bottom: 20px;
  }

  &:first-child {
    margin-top: 0;
  }

  clear: both;
  margin-top: 10px;
  overflow: auto;
}

.uk-button.chat-send-button[disabled] {
  &:hover, &.hover, &:focus, &.focus {
    span[uk-icon] {
      color: @chat-white-color;
    }

    border: 1px solid @chat-blue-dark-color;
    background-color: @chat-blue-dark-color;
  }

  span[uk-icon] {
    color: @chat-white-color;
  }

  border: 1px solid @chat-blue-dark-color;
  background-color: @chat-blue-dark-color;
  cursor: not-allowed;
}

// Login Component
.newsletter-checkbox {
  color: @chat-violet-color;
}

.uk-checkbox {
  color: @chat-blue-light-color;
}

.login-text {
  a {
    color: @chat-violet-color;
  }

  font-size: 0.8em;
  color: @chat-gray-color;
}

.login {
  &-facebook {
    &:hover {
      .login-icon-circle {
        background-color: @chat-white-color;
      }

      .login-icon {
        color: @chat-facebook-color;
      }

      background-color: darken(@chat-facebook-color, 10%);
    }

    transition: all 0.2s ease-in-out;
    background-color: @chat-facebook-color;
  }

  &-google {
    &:hover {
      .login-icon-circle {
        background-color: @chat-white-color;
      }

      .login-icon {
        color: @chat-google-color;
      }

      background-color: darken(@chat-google-color, 10%);
    }

    transition: all 0.2s ease-in-out;
    background-color: @chat-google-color;
  }

  &-separator {
    width: 30px;
    border: 2px solid @chat-blue-dark-color;
    margin: auto;
  }

  &-logo {
    width: 80px;
  }

  &-btn-wrapper {
    .login-btn-frame {
      color: inherit;
    }

    .login-icon {
      // .login-icon-circle styles
      &-circle {
        width: 53px;
        height: 53px;
        border-radius: 50%;
        border: 2px solid @chat-white-color;
        float: left;
        margin: -16px 4px;
      }

      // .login-icon styles
      transition: all 0.2s ease-in-out;
      margin: auto;
      margin-top: 14px;
      color: inherit;
    }

    // .login-btn-wrapper styles
    clear: both;
    width: 100%;
    color: @chat-white-color;
    padding: 20px 0;
    cursor: pointer;
    font-weight: 700;
    border-radius: 50px;
  }
}

.login-footer {
  p.footer-follow, p.footer-copy {
    font-size: 0.9em;
  }

  .uk-iconnav {
    .social-icon {
      &:hover {
        [uk-icon] {
          color: @chat-blue-dark-color;
        }

        border: 2px solid @chat-white-color;
        background-color: @chat-white-color;
        cursor: pointer;
      }

      &:first-child {
        margin-left: 0;
      }

      [uk-icon] {
        color: inherit;
      }

      color: @chat-white-color;
      border-radius: 50%;
      padding: 7px;
      margin-left: 8px;
      transition: all 0.2s ease-in-out;
      border: 2px solid @chat-white-color;
    }

    // .uk-iconnav styles
    margin: auto;
  }

  // .login-footer styles
  padding: 15px 0;
  color: @chat-white-color;
  margin-bottom: 0;
  background-color: @chat-blue-dark-color;
  text-align: center;
}

// Animations
@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
    .25em 0 0 rgba(0,0,0,0),
    .5em 0 0 rgba(0,0,0,0);
  }
  40% {
    color: white;
    text-shadow:
    .25em 0 0 rgba(0,0,0,0),
    .5em 0 0 rgba(0,0,0,0);
  }
  60% {
    text-shadow:
    .25em 0 0 white,
    .5em 0 0 rgba(0,0,0,0);
  }
  80%, 100% {
    text-shadow:
    .25em 0 0 white,
    .5em 0 0 white;
  }
}